# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
.gradle/
*.iml
*.lock
**/generated_plugin_registrant.dart
# macOS
.DS_Store
# Android/iOS
**/Pods/
**/ios/Pods/
*.keystore